body {
    font-family: 'Open Sans', sans-serif;
    background-color : #000000;
}

.color-fondo {
    background-color: #17A3B8;
}



.card img {
    height: 100%;
   
}


.card p{
    font-size: 0.875rem;
    font-weight: 300;
}

h5 {
    font-weight: 700;
    
}

#quienes p{
    font-size: 0.938rem;
    font-weight: 300;
}

h2{
    font-weight: 700;
}

.icono {
    color: #Ffffff;
}