body {
    font-family: 'Open Sans', sans-serif;
    background-color : #000000;
}

.color-fondo {
    background-color: #17A3B8;
}

.color-fondo2 {
    background-color: #17A3B8;
}
.icono {
    color: #Ffffff;
}